%turbo-frame{id: "content", data:{turbo:{action: "advance"}}}
	.row.bg-dark.text-light
		.d-flex
			.p-2
				%a.btn.btn-dark.btn-lg.text-light.border.border-light{href: product_path(product), data:{turbo:{frame: "content"}, bs:{toggle: "tooltip", placement: "bottom", title: "Back to Product"}}, aria:{label: "Back to Product"}}
					%i.bi.bi-arrow-left-circle-fill{aria:{hidden: "true"}}
			.flex-grow-1.p-2
				%h2 Image Sets
			
	.container.p-4
		- image_sets.each do |set|
			.d-flex.border.border-dark.mb-4
				.flex-grow-1.p-2.m-2
					= set.label
				.flex.p-2.m-2.text-end
					%span.badge.rounded-pill.bg-dark.text-white
						0 of 0
				