.col-12.col-md-4.mx-auto.pt-4
	%h1 FAQs
	= link_to "New", new_challenge_faq_path(@challenge)
	
	- @groups.each_with_index do |g, i|
		%h2 #{g[:group]}
		- @faqs.each do |q|
			- if i + 1 == q.group_number
				.ms-4.mb-4
					%h3 #{q.question}
					= q.answer.html_safe
