.ps-1.dropdown
	%a.btn.btn-outline-dark.btn-lg{href: "#", data:{bs:{toggle: "dropdown"}}}
		%bi.bi-three-dots
	%ul.dropdown-menu.border.border-dark
		%li.mb-0
			%h3.dropdown-header Insert Above
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Chapter	
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Person Distinction
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Visual Description
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Paragraph Break
		%li.mb-0
			%hr.dropdown-divider
		%li.mb-0
			%h3.dropdown-header Insert Below
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Chapter	
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Person Distinction
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Visual Description
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Paragraph Break
		%li.mb-0
			%hr.dropdown-divider
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Move Up
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Move Down
		%li.mb-0
			%a.btn.btn-outline-dark.btn-lg.dropdown-item{href: "#"} Delete