.col-md-4.mx-auto.pt-4
	%h1 New Milestone

	= form_with(model: @milestone, url: challenge_milestones_path(@challenge)) do |f|
		= render partial: "form", locals: {f: f, milestone: @milestone, badge: @badge}