.w-100.position-relative.background-dark.min-vh-100{style: "max-height: 100vh"}
	.position-absolute.top-0.start-0.bottom-0.end-0
		.row.h-100
			.align-self-center.text-center.font-white
				.fw-bolder{role: "text"}
					.display-1 Welcome to
					.display-1 #{channel.name}
				.fw-bold{role: "text"}
					.display-6 We are currently under construction.  
					.display-6 Check back soon.
					