%nav.navbar.bg-dark
	.container
		%a.navbar-brand{href: "#", style: "color: gold"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			ILY by Tricio
.container.pt-4
	%h1.text-center Products
	.row
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Dark Chocolate Chip Cookie
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/pumpkin-dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Pumpkin Dark Chocolate Chip Cookie
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/oatmeal-pumpkin-pie-spiced-dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Oatmeal Pumpkin Pie Spiced Dark Chocolate Chip Cookie
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/oatmeal-pumpkin-pie-spiced-raisin-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Oatmeal Pumpkin Pie Spiced Raisin Cookie
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/peanut-butter-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Peanut Butter Cookie
		.col-sm-6.col-md-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/pumpkin-pie-spiced-sugar-cookie.png", width: "100%", alt: ""}
				.card-body
					%h2.card-title.text-center Pumpkin Pie Spiced Sugar Cookie
			