%nav.navbar.bg-ily
	.container
		%a.navbar-brand{href: "#"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			%span.brand-ily{style: "font-family: cursive"} ILY by Tricio
.container-xl.pt-4
	%h1 Welcome to ILY by Tricio
	%p With the new year of 2024, exciting changes are coming.  Stay tuned.

	
