%nav.navbar.bg-dark
	.container
		%a.navbar-brand{href: "#", style: "color: gold"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			ILY by Tricio
.container.pt-4
	%h1.text-center Products
	.row.mb-4
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Dark Chocolate Chip Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/pumpkin-dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Pumpkin Dark Chocolate Chip Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/oatmeal-pumpkin-pie-spiced-dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Oatmeal Pumpkin Pie Spiced Dark Chocolate Chip Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/oatmeal-pumpkin-pie-spiced-raisin-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Oatmeal Pumpkin Pie Spiced Raisin Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/peanut-butter-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Peanut Butter Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
		.col-sm-6.col-lg-4.mt-4
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/pumpkin-pie-spiced-sugar-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 10rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Pumpkin Pie Spiced Sugar Cookie
					.row.mb-3
						.btn.btn-lg.btn-dark 5 for $10
					.row.mb-3
						.btn.btn-lg.btn-dark 12 for $20
					.row.mb-3
						.btn.btn-lg.btn-dark Batch Pricing
			