%nav.navbar.bg-ily
	.container
		%a.navbar-brand{href: "#"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			%span.brand-ily{style: "font-family: cursive"} ILY by Tricio
.container-xl.pt-4
	%h1 Welcome to ILY by Tricio
	%p 
		This part of the website is under construction; however, you can visit the
		%a{href: "https://ilybytricio.square.site"} Online Store
		or follow us on
		%a{href: "https://www.facebook.com/ilybytricio"} Facebook.

	
