%nav.navbar.bg-dark
	.container
		%a.navbar-brand{href: "#", style: "color: gold"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			ILY by Tricio
.container-xl.pt-4
	%h1.text-center Pre-Order Your Cookies today!
	%p.col-123.col-md-10.col-lg-8.mx-auto.text-center.text-muted These cookies will be available for pickup at the ILY Benefit Dinner with the University of Minnesota's Deaf College Bowl at Dendros Group, LLC's office on Saturday, April 22nd, 2023.
	.row.mb-4
		.col-12.col-md-6.col-lg-4.mt-4.mx-auto
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/dark-chocolate-chip-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 5rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Dark Chocolate Chip Cookie
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/RMWWJ4XPMCHB5YC7E2UHXBRB", role: "button"} 6 for $10
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/3EVRK5OV7SF3THS3ELQPI37F", role: "button"} 12 for $20
					
		.col-12.col-md-6.col-lg-4.mt-4.mx-auto
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/oatmeal-pumpkin-pie-spiced-raisin-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 5rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Oatmeal Raisin Cookie
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/3I3V7UADGUFKAHKBH4AEITWC", role: "button"} 6 for $10
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/KDRBVDEQJLFKEAEXGYE4AEUT", role: "button"} 12 for $20
					
		.col-12.col-md-6.col-lg-4.mt-4.mx-auto
			.card
				.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
					%img.position-absolute.top-0.bottom-0.start-0.end-0{src: "https://storage.googleapis.com/dbsan-public/peanut-butter-cookie.png", width: "100%", alt: ""}
				.card-body
					.card-title.text-center.position-relative.w-100{style: "padding-top: 5rem"}
						%h2.position-absolute.top-0.bottom-0.end-0.start-0 Peanut Butter Cookie
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/RUS5MNN6XO4VDTPM4XSSP4DI", role: "button"} 6 for $10
					.row.mb-3
						%a.btn.btn-lg.btn-dark{href: "https://checkout.square.site/merchant/ML1YRQRFSHJBS/checkout/FVIO5GTPTEUFEQCW465RLCO6", role: "button"} 12 for $20
					
		

	.col-md-8.mb-4.mt-4.mx-auto
		%h2.text-center Disclaimer
		%p.text-center Any food products produced by ILY by Tricio are homemade and not subject to state inspection.