%turbo-frame{id: "settingsMenu"}
	.modal-content
		.modal-header.text-dark
			%h3.modal-title Video Settings
			%button.btn-close{type: "button", aria: {label: "Close"}, data: {bs: {dismiss: "modal"}}}
		.model-body.text-dark.p-4
			.listgroup
				= render partial: "videos/controls/settings_menu/main_menu_btns/speedMenuButton", locals: {video: video}