.container-lg
	.h1.text-center.bg-dark.p-4.m-0.fw-bolder.text-light #{@channel.name}
	.text-center.bg-dark.p-4{style: "border-radius: 0 0 5rem 5rem" }
		%img{src: "https://storage.googleapis.com/dbsan-public/The%20Road%20Without%20Barriers/profile.jpeg", alt: "Patrick Velia Headshot", width: "30%", style: "border-radius: 50%"}	
	%h1.mt-4.text-center Patrick Vellia
	%p.text-center.text-muted Portfolio of Work | Last Updated on Dec 5, 2022

	%section.col-12.col-md-8.mx-auto
		%h2 Introduction
		
		%p My name is Patrick Vellia.  Until recently, this website was built on WordPress, which I haven’t updated since 2017.  However, in October 2022 my contract was up with my hosting provider and thus, I decided to not renew, and build out the new site from the ground up.  This site is actually an extension of the DeafBlind Support and Access Network’s (DBSAN’s) Web application by adding two endpoints—one on their subdomain and one here at www.theroadwithoutbarriers.com and both are exactly the same point of entry.

		%p DBSAN is a 501(c)(3) non-profit charity organization founded during the COVID-19 pandemic to help keep DeafBlind individuals connected in a period of darkness.  This portfolio documents much of my work done to build the DBSAN platform.






	%section.col-12.col-md-8.mx-auto
		%h2 Requirements
		%ul
			%li Develop a Website in conformance with the Web Content Accessibility Guidelines (WCAG) by generating a Ruby on Rails application
			%li Develop an Admin Console only accessible to admins
			%li Build an Exercise Challenge Portal Coupled with Donation Collection
			%li Build a Camps and Camp Registration System
			%li Build an Events Manager
			%li Build a Video Player
	

