%turbo-frame{id: "block_#{@block.id}", data:{turbo:{action: "advance"}}}
	- if @block.cue_type == "subtitles_and_captions"
		= render partial: "videos/cue_blocks/edit_subtitles", locals: {block: @block}
	- elsif @block.cue_type == "chapters"
		= render partial: "videos/cue_blocks/edit_chapter", locals: {block: @block}	
	- elsif @block.cue_type == "visual_descriptions"
		= render partial: "videos/cue_blocks/edit_visual_descriptions", locals: {block: @block}	