%turbo-frame{id: @category.id, data:{turbo:{action: "advance"}}}
	.ps-2.pe-2.mb-4.border.border-dark
		= render partial: "form", locals: {category: @category, department: @category.department, form_action: "edit"}