%p Hello #{@name}:

%p Thank you for submitting a #{@app.camp_application_type.kind.downcase} application for the #{@app.camp.title}.

%p You will hear from us soon with the next steps.

%p Stay tuned.

%p The DBRIB Leadership Team