%p Hi DBRIB Leadership Team!

%p This email serves as notification that #{@name} as completed a #{@app.camp_application_type.kind.downcase} application.  You can now view it in the DBSAN system.

%p Thank you.