%footer.mt-auto.d-print-none
  = render 'layouts/footer/social'
  .container.text-center.mt-2
    = link_to "Terms of Use", root_path
    |
    = link_to "Privacy Policy", root_path
    |
    = link_to "Bylaws", bylaws_path
  .container.text-center.mt-2.mb-2
    %span &copy; 2022 DeafBlind Support and Access Network.  All rights reserved.
