- if @networks.count > 0 then
  .container.text-center
    %span.text-muted Connect with us on social media:<br>
    - @networks.each do |network| 
      %a.btn.btn-lg{href: "#{network.url}", target: "_blank", title: "#{network.name}", data:{bs:{toggle: "tooltip", placement: "top"}}, aria:{label: "#{network.name}"}}
        %i{class: "#{network.icon_class}", aria:{hidden: "true"}}
      
    