.container.mt-4
	.col-md-8.mx-auto
		%h1 Next Steps
		.row
			.col-6
				.row.p-2
					= link_to "Go Back", :back, class: "btn btn-secondary btn-lg", role: "button"
				-#.col-6
					-#.row.p-2
						-#= f.submit "Continue", class: "btn btn-primary btn-lg"
