.container.mt-4
	.col-md-8.mx-auto
		%h1 Camp Application
		%p Hi #{@application.camp_application_pi.first_name}.

		%p Our records show that you have submitted an application, and we are in the process of reviewing it.  Stay tuned.