.container
	.form-check.form-switch.d-flex.align-items-center.w-100.w-lg-25.ps-0
		%input#switch.form-check-input.order-1{type: "checkbox", role:"switch", style: "width: 6rem; height: 3rem"}
		%label#switch-label.form-check-label.flex-grow-1{for: "switch"} Testing Switch
	
	

	-#%h1 This page demonstrates the use of a contenteditable

	-#.form-floating{data: {controller: "content-json"}}
		-#%textarea#input.form-control.border.border-dark{placeholder: "Test", data: {content_json: {target: "input"}}}	
		-#%label{for: "input"} Test
