= render partial: "colors"
	
-#%h1 This page demonstrates the use of a contenteditable

-#.form-floating{data: {controller: "content-json"}}
	-#%textarea#input.form-control.border.border-dark{placeholder: "Test", data: {content_json: {target: "input"}}}	
	-#%label{for: "input"} Test
