.container
	.form-check.form-switch
		%input#switch.form-check-input{type: "checkbox", style: "width: 6rem; height: 3rem", role:"switch"}
		%label.form-check-label{for: "switch"} Testing Switch
		

	-#%h1 This page demonstrates the use of a contenteditable

	-#.form-floating{data: {controller: "content-json"}}
		-#%textarea#input.form-control.border.border-dark{placeholder: "Test", data: {content_json: {target: "input"}}}	
		-#%label{for: "input"} Test
