.container-fluid{style: "border: 1px solid white; height: 90vh"}
	.mx-auto{style: "width: 80vw; background: #404040; height: 90vh"}
		.p-4{style: "border: 5px solid green; height: 30vh"}	
			.row
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}

				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
		.p-4{style: "border: 5px solid green; height: 30vh"}
			.row
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
		.p-4{style: "border: 5px solid green; height: 30vh"}
			.row
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
				.col-4.p-4{style: "border: 1px solid red; height: 25vh"}
					.container{style: "background: red; border-radius: 5%; height: 20vh"}
					
.footer.mt-auto{style: "background: blue; height: 10vh"}
	%h1.text-center Game Board