.container.mt-4
  .col-md-8.mx-auto
    %h1.text-center DeafBlind Support and Access Network

    %p The DeafBlind Support and Access Network was founded with one simple goal – as a way to connect the DeafBlind community across the US. Since then, it has expanded the programs to educate the mainstream community to DeafBlind people and our culture.

    %p At DBSAN, we’re dedicated to making a difference. Since 2020, we have provided support meetings, workshops, panels, and contests. Our goal is simple: is to provide the DeafBlind community with access, education, support, and networking. To do this, we need your help.   

    %h2 Upcoming Camps and Retreats
    - @camps.each do |c|
      %h3 #{link_to c.title, camp_path(c)}

      %p.text-muted From #{c.start.strftime("%A, %B %d, %Y %l:%M %p")} to #{c.end.strftime("%A, %B %d, %Y %l:%M %p (%Z)")}
    
