.col-xl-6.mx-auto.pt-4
	%h1 Thank you, #{@first_name}!

	%p We appreciate your contribution.  As a 501(c)(3) non-profit charity organization, a Tax Deductible Receipt by the Deafblind Support and Access Network (DBSAN) was sent to your email at #{@email}.  You should find it from "DBSAN Donations" with the email address of noreply@dbsan.org.

	%p Once again, thank you!

	