%turbo-frame{id: "slug", data:{turbo: {action: "advance"}}}
	.input-group.mb-4
		.form-floating
			- if survey.slug.nil?
				%input#slug.form-control.border.border-dark{type: "text", readonly: "true", value: "Please click edit to add a slug"}
			- else
				%input#slug.form-control.border.border-dark{type: "text", readonly: "true", value: "#{survey.slug}"}
			%label{for: "slug"} Slug
		.input-group-text.bg-dark{data: {controller: "bootstrap"}}
			%a.btn.btn-dark.btn-lg{href: edit_survey_path(slug: survey.slug, part: "slug"), title: "Edit Slug", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Edit Slug"}}}
				%i.bi.bi-pencil{aria: {hidden: "true"}}
	%p.text-muted Instead of using ID's in the URL, to make it easier to find the survey, we use a slug which is a dashed-seperated sequence of alphanurmical name representing the survey.  This allows you to access it via the two URLs below:
	%ul.text-muted.mb-4
		%li.mb-0 #{survey_subdomain_url(survey.slug)}
		%li.mb-0 #{survey_url(slug: survey.slug, subdomain: survey.channel.subdomain.slug)}