%turbo-frame{id: "title", data:{turbo: {action: "advance"}}}
	.input-group.mb-4
		.form-floating
			%input#title.form-control.border.border-dark{type: "text", readonly: "true", value: "#{survey.title}"}
			%label{for: "title"} Survey Title
		.input-group-text.bg-dark{data: {controller: "bootstrap"}}
			%a.btn.btn-lg.btn-dark{href: edit_survey_path(slug: survey.slug, part: "title"), title: "Edit Title", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Edit Title"}}}
				%i.bi.bi-pencil{aria: {hidden: "true"}}