%main.container-lg
	%turbo-frame{id: "main"}
		.col-xl-8.mx-auto.pt-4
			%h1 #{@survey.title}

			= simple_format(@survey.long_description)

			- unless  @survey.survey_type.titleize == "Open Interview"
				= button_to "Take Survey", survey_responses_path(survey_slug: @survey.slug), method: :post, class: "btn btn-dark btn-lg"
			- if @survey.interviewers.map { |i| i.user_id == current_user&.id }
				= button_to "Start an Interview", survey_responses_path(survey_slug: @survey.slug, include_interviewer: true), method: :post, class: "btn btn-dark btn-lg"
