%nav.navbar.bg-dark
	.container
		%a.navbar-brand{href: "#", style: "color: gold"} 
			%img{src: "https://storage.googleapis.com/dbsan-public/ILY%20by%20Tricio.png", width: "10%", alt: ""}
			ILY by Tricio
.container.pt-4
	%h1 #{@survey.title}

	= simple_format(@survey.description)
