.container.pt-4
	%h1 #{@challenge.title}

	.row.mt-4.border.border-dark
		.col-6.p-2
			%strong Start Date and Time
		.col-6.p-2
			= local_time(@challenge.start)
	.row.border.border-dark
		.col-6.p-2
			%strong Start Date and Time
		.col-6.p-2
			= local_time(@challenge.end)
	.mt-4
		= simple_format(@challenge.description)