%turbo-frame{id: "description", data: {turbo: {action: "advance"}}}
	= form_with(model: section, url: survey_section_path(survey_slug: section.survey.slug, sec_num: section.section_number)) do |f|
		.form-floating.mb-4
			= f.text_area :content, placeholder: "Description", class: "form-control border border-dark", data: {controller: "textarea-autogrow"}	
			= f.label :content, "Description"

		.row.-p2
			= f.submit "Save", class: "btn btn-dark btn-lg"