%button#qualityMenuButton.list-group-item.list-group-item-action.btn.btn-outline-dark.btn-lg.d-flex{type: "button", data: {video: {container: {target: "adMenuButton"}}}} 
	%span.p-2.flex-grow-1 Quality
	%i.bi.bi-caret-right-fill.align-self-center{aria: {hidden: "true"}}
	