body {
	font-size: 1.25rem;
}
p {
	line-height: 1.75em;
}
li {
	margin-bottom: 1.5rem;
}
.form-floating.required label:after {
	content: '*';
	color: red;
}
.fieldset.required legend:after {
	content: '*';
	color: 'red';
}