.p-2.d-none.d-md-inline-flex
	%button#adButton.btn.btn-lg.btn-dark.border.border-light{type: "button", title: "Audio Descriptions (a)",  aria: {pressed: "false"}, data: {action: "click->video-container#toggleAD keydown.a@document->video-container#toggleAD", bs:{toggle: "tooltip", title: "Audio Descriptions (a)", placement: "top"}, video: {container: {target: "adButton"}}}} AD