.p-2
	%button#castButton.btn.btn-lg.btn-dark.border.border-light{type: "button", data: {action: "click->video-container#toggleCast", bs:{toggle: "tooltip", title: "Cast / AirPlay (C)", placement: "top"}, video: {container: {target: "castButton"}}}}
		%i.bi.bi-cast{aria: {hidden: "true"}}