.p-2.d-none.d-md-flex
	%button#castButton.btn.btn-lg.btn-dark.border.border-light{type: "button", title: "Cast / AirPlay (C)", aria: {pressed: "false"}, data: {action: "click->video-container#toggleCast keydown.shift+c@document->video-container#toggleCast", bs:{toggle: "tooltip", title: "Cast / AirPlay (C)", placement: "top"}, video: {container: {target: "castButton"}}}}
		%i.bi.bi-cast{aria: {hidden: "true"}}