.p-2
	%button#fsButton.btn.btn-lg.btn-dark.border.border-light{type: "button", data: {action: "click->video-container#toggleFs", bs:{toggle: "tooltip", title: "Enter Fullscreen (f)", placement: "top"}, video: {container: {target: "fsButton"}}}}
		%i.bi.bi-fullscreen{data: {video: {container: {target: "fsButtonIcon"}}}}
