.p-2
	%button#pipButton.btn.btn-lg.btn-dark.border.border-light{type: "button", data: {action: "click->video-container#togglePip", bs:{toggle: "tooltip", title: "Picture in Picture (p)", placement: "top"}, video: {container: {target: "pipButton"}}}}
		%i.bi.bi-pip{data: {video: {container: {target: "pipButtonIcon"}}}}
	