.p-2.d-none.d-md-flex
	%button#pipButton.btn.btn-lg.btn-dark.border.border-light{type: "button", title: "Picture in Picture (p)", aria: {pressed: "false"}, data: {action: "click->video-container#togglePip keydown.p@document->video-container#togglePip", bs:{toggle: "tooltip", title: "Picture in Picture (p)", placement: "top"}, video: {container: {target: "pipButton"}}}}
		%i.bi.bi-pip{data: {video: {container: {target: "pipButtonIcon"}}}}
	