.p-2
	%button#settingsButton.btn.btn-lg.btn-dark.border.border-light{type: "button", data: {action: "click->video-container#toggleSettings", bs:{toggle: "tooltip", title: "Settings (s)", placement: "top"}, video: {container: {target: "settingsButton"}}}}
		%i.bi.bi-gear-fill