%turbo-frame{id: "new_question", data: {turbo: {action: "advance"}}}
	.mt-4
		%a.btn.btn-dark.btn-lg{href: new_survey_question_path(survey_slug: @survey.slug, sec_num: @section.section_number)} Add Question