%p Hello #{@name}!

%p Thank you for your interest in joining DBSAN’s June Virtual Challenge! By joining us, you are helping us raise awareness about DeafBlind people, and supporting our mission of educating people about and exposing people to DeafBlind people and our culture.

%p By joining in our fundraiser, you are helping us raise much needed funding to support our DeafBlind Retreat of New England, happening this August.

%p June's Virtual Challenge covers over 4,000 miles across the northern United States. There are approximately 16 stops on the way with information about the area. Stops include historical, natural, and cultural points of interest.

%p But wait! Does this mean you have to walk 4,000 miles?! No, this is a collaborative Challenge. If you do some miles everyday, then all you have to do is add your distance to our online platform, and it'll keep track of everyone's distances and add them up.

%p The goal is everyone can move at their own pace and together we will cross The United States virtually to raise awareness about DeafBlind people.

%p Once you are ready to get started, head back to your DBSAN Challenges. Click on register to log in. You should now be on your participant page. Here you will be able to post your distances, view your earned badges, and check your donations.

Prizes for reaching donation goals are as follows:

%ul 
	%li Raise $50, get a DBSAN Challenge Coin.
	%li Raise $200, have your name on our “Thanks to our Sponsors” banner at our DeafBlind Retreat
	%li Raise $400, have your name in our Retreat Program Brochure on Visitors’ Day

%p Ready to get started?


%p Join our <a href="https://www.facebook.com/groups/683902156484187">Facebook group</a> to be part of the community.