%p Hello #{@name}!

%p Let’s get moving!

%p Thank you for your interest in joining DBSAN’s first Exercise Challenge! By joining us, you are helping us raise awareness about DeafBlind people, and supporting our mission of educating people about and exposing people to DeafBlind people and our culture.

%p By joining in our fundraiser, you are helping us raise much needed funding to support our programs and services, such as covering costs for interpreters for workshops and panels, offering reduced costs and scholarships for our DeafBlind Retreat and other events.

%p December’s Exercise Challenge is to do 15.5 hours of exercise for the month. That’s equal to 30 minutes each day. You don’t need to do it all at one time!  You can break up the 30 minutes into 2 or 3 shorter segments in one day.  You can do more exercise some days if you know you can’t exercise other days, aiming for 15.5 total hours for the month.  You can even do more than 15.5 hours if you want!  It’s all up to you!

%p What are some exercise ideas? Walking on a treadmill, outside, or in a mall; riding a bike; doing yoga or martial arts; dancing; playing sports; and much more! The goal is to get up and MOVE!

%p A half hour of exercise a day keeps us in shape, and 30 minutes of exercise a day is proven to reduce depression and anxiety.  This challenge will allow us to motivate and support each other in reaching a group exercise goal!

%p Once you are ready to get started, head back to your <a href="https://www.dbsan.org/challenges">DBSAN Challenges</a> and click on the December challenge. Click on register to log in. You should now be on your participant page. Here you will be able to update your exercise time, view your earned badges, and check your donations and how far to the next prize.

%p Prizes for reaching donation goals are as follows:
%ul
	%li Raise $150, get a DBSAN shirt.
	%li Raise $300, get a DBSAN collectible exercise challenge coin
	%li Raise $1000, get a meteor vibrating watch
	%li GRAND PRIZE - Raise $5000, get a 2022 12.9 inch iPad Pro

%p Ready to get started? 

%p Join our <a href="https://www.facebook.com/groups/683902156484187">Facebook group</a> to be part of the community.