.col-12.col-md-4.mx-auto.p-2.pt-4
	%h1 Thanks, #{@name}!

	- if @milestone.accept_prize?
		%p We'll let you know when it ships.
	- else
		%p Thanks for letting us know you don't want this prize.
		
	.row
		= link_to "Continue to Participant Page", challenge_participant_path(@challenge, @participant), class: "btn btn-lg btn-dark", role: "button"

