.container.mt-4
  .col-md-6.mx-auto
    %h1.mb-4 Edit Account
    .row.mb-2
      .col-6 Email Address:
      .col-6.text-end #{current_user&.email}
    .row.mb-2
      %button{type: "button", class: "btn btn-primary", data:{bs:{toggle: "modal", target: "#updateEmail"}}} Update Email
      = render partial: 'users/registrations/modal', locals: {modal_id: "updateEmail", modal_title: "Update Email", local_partial: "update_email"}  

    .row.mb-2
      %button{type: "button", class: "btn btn-primary", data:{bs:{toggle: "modal", target: "#updatePassword"}}} Update Password
      = render partial: 'users/registrations/modal', locals: {modal_id: "updatePassword", modal_title: "Update Password", local_partial: "update_password"}
    
    -#.mt-2
      -#%h2 Cancel Account
      -#%p We are sorry to see you go, but you can always re-register at a later time. 

      -#.row
        -#= button_to "Cancel my account", registration_path(resource_name), form: { data: { turbo:false }}, method: :delete, class: "btn btn-danger btn-lg d-block"
      